header {
    background-color: black;
    padding: 244px;
}

header h1 {
    font-family: "Dancing Script", cursive;
    color: #FF4500;
}

h2 {
    font-family: "Pacifico", cursive;
}

.text-color {
    color: #FF4500;
}

.nav-link.active, 
.nav-link.active:hover   {
    background-color: #FF4500;
    color: #fff;
}

.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 16px;
}

.icons .promo {
    padding-left: 5px;
}

.nav-item .icon {
    height: 22px;
}

.nav-link,.nav-link:hover {
    color: #FF4500;
}

.carousel-item img {
    height: 700px;
    object-fit: cover;
}

#sobre-a-burgermania {
    background-color: #ffc2aa;
    padding-bottom: 32px;
}

.cardapio {
    margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    h2 {
        text-align: center;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 32px;
    }
}